In [1]:
#importing the required libraries
import numpy as np
import pandas as pd

In [2]:
# Know your data
df = pd.read_csv('Placement_Data_Full_Class.csv')

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
df.shape

(215, 15)

In [5]:
#checking missing values

df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [6]:
# knowing the datatypes

df.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [7]:
#df["degree_t"] = df["degree_t"].astype('category')
#df["workex"] = df["workex"].astype('category')
#df["specialisation"] = df["specialisation"].astype('category')
#df["status"] = df["status"].astype('category')
#df["gender"] = df["gender"].astype('category')
#df["hsc_s"] = df["hsc_s"].astype('category')
#df.dtypes

In [8]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder

In [9]:
# Data Preprocessing
lst=['gender','hsc_s','degree_t','workex','specialisation','status']
for label in lst: #encoding data
  df[label]=LabelEncoder().fit(df[label]).transform(df[label])

col=['ssc_p','hsc_p','workex','mba_p','status']

In [10]:
#df["workex"] = df["workex"].cat.codes
#df["gender"] = df["gender"].cat.codes
#df["degree_t"] = df["degree_t"].cat.codes
#df["specialisation"] = df["specialisation"].cat.codes
#df["status"] = df["status"].cat.codes
#df["hsc_s"] = df["hsc_s"].cat.codes

In [11]:
#making copies of original data set for classification and regresiion analysis
df_clf=df.copy()
df_reg=df.copy()

In [12]:
#removing unnecessary columns

df_clf.drop(['sl_no','ssc_b','hsc_b','salary'],axis=1,inplace=True)

In [13]:
X=df_clf.drop(['status'],axis=1)

Y=df_clf['status']

In [14]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=55)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn import metrics

rf=RandomForestClassifier()

rf.fit(X_train,Y_train)

y_pred=rf.predict(X_test)

In [16]:
print(metrics.accuracy_score(Y_test,y_pred)*100)

90.74074074074075

In [17]:
print(rf.predict([[ 1,67,91.00,1,58.00,2,0,55.0,1,58.80]]))

[1]

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [18]:
import pickle
pickle.dump(rf,open("placed.pkl","wb"))

*REGRESSION*

In [19]:
df_reg.dropna(inplace=True)
x=df_reg[['gender','hsc_s','degree_t','etest_p','mba_p']]
y=df_reg['salary']

In [20]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(x)

In [21]:
# Save the scaler object to preprocess.pkl
with open('preprocess.pkl', 'wb') as preprocess_file:
    pickle.dump(scaler, preprocess_file)

y[y > 400000]

X_scaled = X_scaled[y < 400000]
y = y[y < 400000]

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.25)

from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)
y_predict=reg.predict(x_test)

In [23]:
answer=reg.predict([[1,1,1,0.75,0.39592317]])
print(answer)

[283217.50124555]

In [24]:
with open('model.pkl', 'wb') as model_file:
    pickle.dump(reg, model_file)